.contact-container{
    
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  

    .line-tochart{
        background-image: linear-gradient(rgb(5, 126, 247),rgb(192, 217, 241), rgb(43, 43, 243));
        padding: 2rem;
        
        

        h2{
            font-size: 2.5rem
        }
        .text-welcome{
            font-size: 1.7rem
        }

        .media-icon{
            display: flex;
            gap: 1rem;
            padding-bottom: 1rem;

            .media-chat{
                h5{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                }
            }
        }

        .top{
            font-size: 2rem;
            color:$button-hova ;
        }

        .chat-link{
            display: flex;
            justify-content: center;
            gap: 1rem;

            .tope{
                font-size: 2rem;
                color:$second-color ; 
            }
        }
    }




    .conatct-me{
        @include flexs(flex,center,center);
        background-color: aqua;
        // padding: 2rem;
       


        .letter{
            background-color: $cord-color;
            height: 100%;
            width: 45%;
            padding: 3rem 1.5rem;

            .image{
                @include flexs(flex,center,center);
                padding: 2rem;
                
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            p{
                color: $second-color;
                font-size: 1.3rem;
            }
        }

        .message{
            
            padding: 2rem;
            position: relative;

            h1{
                text-align: center;
                font-size: 2.5rem;
            }
            form{
                position:initial;

                textarea{
                    width: 100%;
                }
               
            }
        }
        
    }
}